h1 {
  text-align: center;
  color: #e8e6fe;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 50%;
  max-width: 600px;
  border-radius: 8px;
}

.new {
  text-align: center;
  margin-top: 10%;
  margin-left: 10px;
  font-size: 25px;
  color: #382f5e;
}

.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8e6fe;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  width: 70%;
  padding: 10px;
}

.SignUp {
  border-radius: 15px;
  color: #ffffff;
  background-color: #382f5e;
  border-color: #382f5e;
  padding: 10px 50px;
  font-size: 16px;
}

.haveAccount {
  font-size: 25px;
  text-align: center;
  color: #382f5e;
}

.email p {
  font-size: 20px;
  margin-bottom: 5px;
  color: #382f5e;
}

.inputEmail {
  width: 300px;
  height: 30px;
  font-size: large;
}

.password p {
  font-size: 20px;
  margin-bottom: 5px;
  color: #382f5e;
}

.inputPassword {
  width: 300px;
  height: 30px;
  font-size: large;
}

.Login {
  border-radius: 15px;
  color: #ffffff;
  background-color: #382f5e;
  border-color: #382f5e;
  padding: 10px 50px;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 10px;
}

body {
  background-color: #48377d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
}
