h1 {
  text-align: center;
  color: #e8e6fe;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 600px;
  border-radius: 50px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.new {
  display: block;
  text-align: center;
  margin: 10% 10px;
  font-size: 25px;
  color: #382f5e;
}

.new-mobile {
  display: none;
}

.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8e6fe;
  padding: 10px;
}

.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 70%;
  padding: 10px;
}

.signInForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.SignUp {
  border-radius: 15px;
  color: #ffffff;
  background-color: #382f5e;
  border-color: #382f5e;
  padding: 10px 50px;
  font-size: 16px;
  text-decoration: none;
}

.haveAccount {
  font-size: 25px;
  text-align: center;
  color: #382f5e;
}

.haveAccount-mobile {
  display: none;
}

.email p {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 5px;
  color: #382f5e;
}

.inputEmail {
  height: 30px;
  font-size: large;
}

.password p {
  font-size: 20px;
  margin-bottom: 5px;
  color: #382f5e;
}

.inputPassword {
  height: 30px;
  font-size: large;
}

.Login {
  border-radius: 15px;
  color: #ffffff;
  background-color: #382f5e;
  border-color: #382f5e;
  padding: 10px 50px;
  font-size: 16px;
  width: fit-content;
  cursor: pointer;
}

.root {
  background-color: #48377d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100%;
}

.buttons {
  display: flex;
  padding: 5% 0;
  gap: 10px;
  flex-flow: column;
  align-items: center;
}

.googleLogin {
  border-radius: 15px !important;
  overflow: hidden;
  color: black !important;
}


.googleLogin:hover {
  color: rgba(0, 0, 0, 0.685) !important;
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 840px) {
  .SignUp {
    width: 100%;
    text-align: center;
  }

  .haveAccount {
    display: none;
  }

  .haveAccount-mobile {
    display: block;
    font-size: 25px;
    text-align: center;
    color: #382f5e;
    margin-top: 0;

  }

  .new {
    display: none;
  }

  .new-mobile {
    display: block;
    text-align: center;
    margin: 0 10px;
    font-size: 25px;
    color: #382f5e;
  }

  .container {
    flex-flow: column-reverse;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
    overflow: auto;
    box-shadow: none;
    justify-content: start;
  }

  .root {
    width: 100%;
  }

  .signUpContainer {
    padding: 1% 0;
    flex: 1;
  }

  .signInContainer {
    width: 100%;
    flex: 1;
  }

  .mobile-header {
    display: block;
  }

  .Login {
    width: 100%;
  }
}
