.container {
  position: relative;
  background-color: #e8e6fe;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 2% 5%;
  justify-content: space-between;
  width: 50%;
  max-width: 600px;
  border-radius: 8px;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.root {
  width: 100%;
  height: 100%;
  background-color: #382f5e;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.profileImage {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 175px;
  height: 175px;
  border: 5px solid grey;
  border-radius: 100%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.8)
}

.profileName {
  font-size: xx-large;
  color: #382f5e;
}

.profileBio {
  display: flex;
  font-size: xx-large;
  color: #382f5e;
}

.imagePlaceholder {
  display: block;
  width: 85px;
  height: 100%;
}

@media only screen and (max-width: 710px) {
  .profileImage {
    position: relative;
    left: 0;
  }

  .data {
    position: relative;
    top: -45px;
  }

  .imagePlaceholder {
    display: none;
  }

  .container {
    flex-flow: column-reverse;
  }

  @media only screen and (max-width: 640px) {
    .container {
      width: 80%;
    }

    .container>div {
      width: 100%;
    }

    .profileName {
      display: flex;
      justify-content: center;
    }
  }
}
