.container {
  background-color: #e8e6fe;
  display: flex;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 50%;
  max-width: 600px;
  border-radius: 8px;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.root {
  width: 100%;
  height: 100%;
  background-color: #382f5e;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.container h1 {
  font-size: xx-large;
}

.container .name p {
  margin-bottom: -1px;
  font-size: 20px;
  color: #382f5e;
}

.container .name .nameInput {
  width: 300px;
  height: 30px;
  font-size: large;
}

.container .name .nameBtn {
  width: 100px;
  height: 30px;
  font-size: small;
  background-color: #382f5e;
  margin-left: 5px;
  color: white;
  border-color: #382f5e;
}

.container .deleteAcc {
  border-radius: 15px;
  color: #ffffff;
  background-color: #382f5e;
  border-color: #382f5e;
  padding: 10px 50px;
  font-size: 16px;
  margin-bottom: 10px;
}

.container .nav-style {
  border-radius: 15px;
  color: #ffffff;
  background-color: #382f5e;
  padding: 10px 50px;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-decoration: none;
}