.root {
  background-color: #f0f0f0;
  height: 100%;
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: self-start;
}

.home-style {
  margin: 0;
  padding: 0;
}

.peopleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - 62px);
  background-color: #251d46;
  flex: 1;
  padding: 10px;
  overflow-x: hidden;
}

.peopleContainer h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
}

.peopleContainer .newChat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.peopleContainer .newChat .newChatInput {
  flex-grow: 1;
  height: 30px;
  background-color: #251d46;
  border-width: 0px;
  border-bottom-width: 1px;
  color: white;
  margin-right: 10px;
}

.peopleContainer .newChat .newChatButton {
  width: 50px;
  height: 50px;
  border: 5px solid grey;
  border-radius: 100%;
}

@media (max-width: 857px) {
  .peopleContainer .newChat {
    flex-direction: column;
  }

  .peopleContainer .newChat .newChatInput {
    margin-bottom: 2%;
  }
}

@media (max-width: 642px) {
  .peopleContainer {
    flex-basis: 10%;
  }
}

@media (max-width: 548px) {
  .peopleContainer {
    flex-basis: 20%;
  }
}

@media (max-width: 455px) {
  .peopleContainer {
    flex-basis: 30%;
  }
}

@media (max-width: 367px) {
  .peopleContainer {
    flex-basis: 40%;
  }
}

.chatList {
  overflow-y: auto;
  padding-right: 4%;
}
